@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/InterVariable.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/InterVariable-Italic.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./assets/fonts/Urbanist-VariableFont_wght.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Urbanist';
  src: url(./assets/fonts/Urbanist-Italic-VariableFont_wght.woff2), format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', serif;
  font-weight: 550;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

input,
button {
  appearance: none;
  border: none;
  background-color: none;
  outline: none;
}

.header {
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  background-color: white;
  border-radius: 24px;
}

.right-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  background-color: white;
  border: 4px solid black;
  padding: 0rem 2rem;
  font-size: 2rem;
}

.unit,
.search-submit {
  background-color: white;
  border: 4px solid black;
  padding: 1rem;
  font-size: 2rem;
}

.unit:hover,
.search-submit:hover {
  background-color: lightgray;
  box-shadow: 0 4px 8px black;
}

.unit.checked {
  background-color: grey;
  color: white;
}

.location {
  font-size: 3.5rem;
  padding: 1rem 2rem;
}

.unit-toggle {
  display: flex;
  justify-content: center;
}

.content {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 2.5rem;
}

.data-container.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.current-temp {
  font-size: 5rem;
}

.current-condition {
  font-family: 'Urbanist', serif;
  font-size: 2.5rem;
  font-weight: 550;
}

.data-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 24px;
  padding: 0.5rem 1rem;
  align-items: center;
}

.data-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 2rem;
}

.data-box {
  border: 4px solid black;
  border-radius: 24px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  place-items: center;
  width: 10rem;
}

.time-text {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 2rem;
  place-self: center;
}

.temp-text {
  grid-column: 1;
  grid-row: 2 / -1;
  font-size: 2rem;
}

.precipitation-text {
  grid-column: 2;
  grid-row: 2;
}

.uv-text {
  grid-column: 2;
  grid-row: 3;
}

.clear-day {
  background-color: rgb(127, 208, 255);
}

.clear-night {
  background-color: rgb(0, 0, 100);
}

.cloudy {
  background-color: rgb(180, 190, 190);
}

.rain {
  background-color: rgb(100, 100, 100);
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

img {
  height: 20rem;
  width: 20rem;
}
